@import "../../../styles/settings.scss";

.root {
  background-color: $companyClaim-main-background-color;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: $companyClaim-phone-number-color;
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $companyClaim-phone-icon-color;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: $companyClaim-cart-icon-color;

      .cartIcon {
        background-color: $companyClaim-cart-icon-background-color;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        border-radius: 14px;
        background-color: $companyClaim-cart-counter-background-color;
        display: flex;

        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: $companyClaim-cart-counter-number-color;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        padding: 5px 10px;
        min-width: 28px;
        height: auto;
        left: 30px;
      }

      &:hover {
        @extend %hover-effect-transform;
        @extend %hover-effect;
        .cartIcon {
          background-color: $companyClaim-cart-icon-background-color-active;
        }
      }
    }
  }
}
