@import "../../../styles/settings.scss";

.root {
  .products {
    &.fade-out {
      animation: fadeOutAnimation 0.5s forwards;
    }
    &.fade-in {
      animation: fadeInAnimation 0.5s forwards;
    }
  }

  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $newFurniture-border-bottom-color;
    }

    .heading {
      position: relative;

      h3 {
        color: $newFurniture-main-text-color;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $newFurniture-border-bottom-detail;
      }
    }

    .menu {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $newFurniture-item-list-color;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              @extend %hover-effect-transform;
              @extend %hover-effect;
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $newFurniture-border-bottom-detail-active;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $newFurniture-background-dot-color;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $newFurniture-dot-color;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $newFurniture-dot-color-active;

              @extend %hover-effect-transform;
              @extend %hover-effect;

            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .root {
    .itemDiv{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
