@import "../../../styles/settings.scss";

.root {
  background-color: $topBar-background-color;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $topBar-item-text-color;
        font-size: 13px;

        &:hover {
          color: $topBar-item-text-color-activ;

          @extend %hover-effect-transform;
          @extend %hover-effect;

          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}
