$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;


//StickyBar Component
$StickyBar-background-color: #fff;
$StickyBar-border:#e1e1e1;

$StickyBar-foto-box-background-color: #f4f5f7;
$StickyBar-foto-box-background-color-active: #000000;
$StickyBar-foto-box-color: #000000;

$StickyBar-foto-box-icon-color: #000000;

$btn-price-hover: #ff0000;

$hover-bg-transition: 0;
$hover-text-transition: 0;
$hover-transform-x: translateX(0);
$hover-transform-y: translateY(0);

%hover-effect {
  transition: background-color $hover-bg-transition, color $hover-text-transition;
}

%hover-effect-transform {
  transform: $hover-transform-x $hover-transform-y;
}


