$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$color-black: #000000;

$color-red: #ff0000;

$color-lightgreen: #90EE90;

$btn-price-hover: #ff0000;

$hover-bg-transition: 0;
$hover-text-transition: 0;
$hover-transform-x: translateX(0);
$hover-transform-y: translateY(0);

%hover-effect {
  transition: background-color $hover-bg-transition, color $hover-text-transition;
}

%hover-effect-transform {
  transform: $hover-transform-x $hover-transform-y;
}

