@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-background-color;
  border: 1px solid $productBox-border-color;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: $productBox-background-photo-color;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .imageWraper {
      position: relative;

      .buttons {
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        justify-content: space-between;
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }


    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-icon-background-color;
      border-radius: 50%;
      color: $productBox-sale-icon-text-color;
      padding: 30px 15px 5px 15px;
    }

  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $productBox-main-text-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productBox-stars-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productBox-border-bottom-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $productBox-border-bottom-color-active;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .priceBox{
    display: flex;
  }
  .favorite {
    color: $color-black;
    &.active {
      color: $color-red;
      background-color: $primary;
    }
  }
  .compare {
    color: $color-black;
    &.active {
      color: $color-lightgreen;
      background-color: $primary;

    }
  }
}

.root:hover {
  .imageWraper {
    .buttons {
      display: flex;
  }
}
  .price{
    .buttonPrice{
      background-color: $btn-price-hover;
    }
  }
}

