@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .selectCategory{
      display: flex;
      align-items: center;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      ul {
        background-color: lightgray;
        li {
            display: block;
            margin-bottom: 12px;
            font-size: 14px;
        }
    }
    }

    li {
      display: inline-block;
      margin-right: 36px;
      position: relative;
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
      }
    }

    li:hover {
      ul {
          display: block;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-color: lightgray;
      }
      li {
        display: block;
        text-align: center;
        background-color: lightgray;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        a {
            color: black;
            display: block;
            padding: 0 25px;
        }
        a:hover {
            color: $primary;
        }
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      font-size: 14px;
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      outline: none;
      option{
        display: none;
      }
    }
    select {
      &:focus-visible {
        outline: none;
      }
    }
  }
  .category:hover{
    background-color: lightgray;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
