@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
  // .customRow {
  //     display: flex !important;
  //     flex-wrap: wrap !important;
  //     margin-right: -15px !important;
  //     margin-left: -15px !important;
  // }
}

a:hover{
  @extend %hover-effect-transform;
  @extend %hover-effect;
  text-decoration: none;
}

@media (max-width: 600px) {
  h5 {
    font-size: 13px;
  }
  p {
    font-size: 9px;
  }
}

