@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
}

a:hover{
  @extend %hover-effect-transform;
  @extend %hover-effect;
  text-decoration: none;
}

@media (max-width: 600px) {
  h5 {
    font-size: 13px;
  }
  p {
    font-size: 9px;
  }
}

