@import "../../../styles/settings.scss";

p{
  color: white;
  display: flex;
  .circle{
    margin-inline: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $countdown-circle-background;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    text-align: center;
  }
  .label {
    text-transform: uppercase;
  }
}
